# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*

# Next
.next/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Coverage
coverage/

# Misc
*.zip